@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::after,
*::before {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --primary: rgb(11, 78, 179);
    --secondary-home: #ffc200;
    --font: "Quicksand", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background: rgba(154, 162, 187, 0.623);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.Header {
    position: absolute;
    top: 0;
    width: 100%;
    background: transparent;
    padding: 10px;
    z-index: 100;
}

.Header-nav {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.Header-container_logo {
    display: flex;
    align-items: center;
}

.Header-li {
    font-weight: 600;
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.Header-a {
    color: #fff;
}

.Home {
    background: linear-gradient(to right,
            rgba(2, 105, 173, 0.568),
            rgba(0, 0, 0, 0.363),
            rgba(254, 233, 0, 0.336)),
        url('../../public/img/campus-aunar-2.png');
}

.Campus-img {
    background: url("../../public/img/panoramic-view.png");
}

/* Escritorio 20' */
@media screen and (max-width: 2100px) {
    .Header-nav {
        justify-content: space-between;
    }

    .logo-aunar {
        width: 200px;
        margin-right: 20px;
    }

    .logo-evaluer {
        width: 200px;
    }
}

@media screen and (max-width: 1440px) {
    .Welcome-h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 1024px) {
    .logo-aunar {
        width: 160px;
    }

    .logo-evaluer {
        width: 160px;
    }

    .Header-a {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .Header-nav {
        justify-content: center;
    }

    .logo-aunar {
        width: 140px;
    }

    .logo-evaluer {
        width: 140px;
    }

    .Header-ul {
        display: none;
    }
}