:root {
    --primary: rgb(11, 78, 179);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(246 249 255);
}

.Header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    z-index: 1;
}

/* Sticky styles..................... */
.Header.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.Header-nav {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-container_logo {
    display: flex;
    align-items: center;
}

.Header-ul {
    margin: 0;
    padding: 0;
}

.Header-li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.Header-a::after,
.Header-a::before,
.Header-a:hover,
.Header-a {
    color: #fff;
    font-weight: 600;
}

.Avatar {
    display: flex;
    align-items: center;
    color: #fff;
}

.Avatar:hover {
    color: #fff;
}

.Avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Avatar-span {
    margin-left: 10px;
}

.Dropdown {
    position: relative;
    max-width: 100%;
    z-index: 200;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
}

.dropdown-checkbox:checked+label,
.dropdown-checkbox:not(:checked)+label {
    position: relative;
    font-weight: 500;
    transition: all 200ms linear;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    cursor: pointer;
}

.dropdown-checkbox:checked+label:before,
.dropdown-checkbox:not(:checked)+label:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
}

.dropdown-checkbox:checked+label:before {
    pointer-events: auto;
}

.dropdown-checkbox:not(:checked)+label .uil {
    font-size: 24px;
    margin-left: 10px;
    transition: transform 200ms linear;
}

.dropdown-checkbox:checked+label .uil {
    transform: rotate(180deg);
    font-size: 24px;
    margin-left: 10px;
    transition: transform 200ms linear;
}

.Dropdown-ul {
    position: absolute;
    padding: 5px;
    background-color: #fff;
    top: 70px;
    left: -40px;
    min-width: 220px;
    width: 100%;
    border-radius: 4px;
    display: block;
    box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;
    list-style: none;
}

.dropdown-checkbox:checked~.Dropdown-ul {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.Dropdown-ul:before {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    content: '';
    display: block;
    z-index: 1;
}

.Dropdown-li {
    padding: 5px;
    border-radius: 4px;
}

.Dropdown-li:hover {
    background: rgb(222, 222, 223);
}

.Dropdown-a {
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
}

.Dropdown-ul:after {
    position: absolute;
    top: -7px;
    left: 50px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    content: '';
    display: block;
    z-index: 2;
    transition: all 200ms linear;
}

.Dropdown-i {
    margin-right: 5px;
    font-size: 18px;
}

.Main {
    margin-top: 90px;
    padding: 20px;
    /* min-height: calc(100vh - 90.36px) !important; */
}

/* Footer */
.Footer {
    color: #fff;
    margin-top: auto;
}

.Footer-info {
    justify-content: center;
}

.Footer-h3 {
    font-size: 18px;
    font-weight: 600;
}

.Footer-p {
    text-align: center;
}

@media screen and (max-width: 2100px) {
    .mobile-display {
        display: none;
    }

    .desktop-display {
        display: flex;
    }

    /* --------Header--------- */
    .Header-hamburger {
        display: none;
    }

    .logo-aunar {
        width: 70px;
        margin-right: 20px;
    }

    .logo-evaluer {
        width: 180px;
        border-radius: 7px;
    }

    /* Footer */
    .Footer-info {
        display: flex;
        margin: 40px auto;
    }

    .Footer-about {
        margin: 0 30px;
        max-width: 580px;
    }

    .Footer-team {
        margin: 0 30px;
    }

    .Footer-team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .Footer-h3 {
        text-align: center;
        margin-bottom: 7px;
        font-weight: 600;
    }

    .Footer-div {
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }

    .Footer-img {
        margin: 10px auto;
    }

    .copyright-text {
        margin: 30px auto;
    }

    .Error-content {
        width: 50%;
        margin: auto;
    }

    .Error-p,
    .Error-a {
        font-size: 20px;
        font-weight: 600;
    }
}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1024px) {
    .logo-aunar {
        width: 50px;
    }

    .logo-evaluer {
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .mobile-display {
        display: flex;
    }

    .desktop-display {
        display: none;
    }

    .Header-nav {
        width: 97%;
    }

    .Header-hamburger {
        align-items: center;
    }

    .hamburger {
        font-size: 32px;
        color: #fff;
    }

    .Isotipo-a {
        margin-left: 15px;
        border-radius: 3px;
    }

    .Isotipo {
        border-radius: 3px;
        background: #fff;
        padding: 3px;
        width: 40px;
    }

    /* Footer */
    .Footer-info {
        flex-direction: column;
        width: 75%;
    }

    .Footer-team {
        margin: 35px auto;
    }
}

@media screen and (max-width: 425px) {
    .logo-aunar {
        width: 50px;
    }

    .logo-evaluer {
        width: 140px;
    }

    .Avatar-span {
        display: none;
    }

    /* Footer */
    .Footer-info {
        width: 100%;
    }
}