.TabsMenu-li.active a,
.TabsMenu-a:hover {
    opacity: 1;
    top: 0;
}

.TabsPanel {
    display: none;
}

.TabsPanel.active {
    display: block;
}

.TabsPanel p+div {
    margin-top: 15px;
}

@media screen and (max-width: 100%) {
    .TabsMenu {
        flex-direction: column;
    }

    .TabsMenu li {
        width: 100%;
    }

    .TabsMenu li:not(:last-child) {
        margin-right: 0;
    }

    .TabsMenu li a {
        border-radius: 0;
        opacity: 1;
        top: 0;
    }

    .TabsMenu li.active a::before {
        content: "•";
        padding-right: 5px;
    }

    .TabsBody {
        border-radius: 0;
    }
}